:root {
  /* text colors */
  --logo-color: #4d5ae5;
  --primary-color-heading: #2e2f42;
  --secondary-color-par: #434455;

  /* fonts  */
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* background colors */
  --accent-color: #404bbf;
  --background-color: #ffffff;
}

/* ============= Inherited features ============ */

body {
  font-family: var(--primary-font);
  color: var(--secondary-color-par);
  background-color: var(--background-color);
}
/* ============= Default styles reset ============ */
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
  margin-left: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.container {
  width: 1128px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px red solid;
}

/* ================ Components ================== */

.header-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-color-heading);
}

.header-three-align {
  text-align: center;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color-par);
}

.description-align {
  text-align: center;
}

.description-footer {
  color: #f4f4fd;
}

.logo-part-footer {
  color: #f4f4fd;
}

.logo-link {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}

.logo-part {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color-heading);
}

/* =============== HEADER =============== */

.page-header-container {
  display: flex;
  align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.page-navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.logo-link {
  margin-right: 76px;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.menu-address-mail {
  margin-right: 40px;
}

.menu-link {
  width: 66px;
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color-heading);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.contact-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color-par);
}

.contact-info:hover,
.contact-info:focus {
  color: var(--accent-color);
}

/* ============ HERO ============== */

.hero {
  background-color: #2e2f42;
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-btn {
  font-family: var(--primary-font);
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
}

/* ================= BENEFITS ================= */

/* ==================== Our Works ==================== */
.header-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-color-heading);
}

/* ================ Our Employees ================ */
.section-employees {
  background-color: #f4f4fd;
}

.section-employee-list-item {
  background-color: #ffffff;
}

/* =================== FOOTER ================== */
.footer {
  background-color: #2e2f42;
}

/* ************** PORTFOLIO PAGE ************** */

.portfolio-button {
  font-family: var(--primary-font);
  background-color: #f4f4fd;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
}

.portfolio-heading-two {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-color-heading);
}
